:root {
  --primary: #eeedf3;
  --secondary: #9caea9;
  --tertiary: #788585;
  --light-dark: #9e2183;
  --dark: #980ebb;
  --border-radius: 1rem;
}



body {
  background-color: var(--primary);
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--dark);
  line-height: 1.5;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  color: var(--dark);
  line-height: 1.25;
}


main {
  margin: 20px auto;
  width: 94%;
}

p {
  font-size: 2rem;
}

.search-btn {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 6px 5px;
  width: 26%;
  display: inline;
  margin: 5px 0;
  border-radius: var(--border-radius);
  color: var(--primary);
  border: none;
  outline: none;
  background-color: var(--light-dark);
  box-shadow: 3px 3px var(--dark);
  transform: translate(-1px, -1px);
}

.search-btn:hover {
  color: var(--primary);
  background-color: var(--tertiary);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
}

.search-btn-inline {
  display: inline;
}

.search-btn-back {
  border-radius: var(--border-radius);
  color: var(--primary);
  border: none;
  outline: none;
  background-color: var(--light-dark);
  box-shadow: 3px 3px var(--secondary);
  transform: translate(-1px, -1px);
  display: inline;
  width: auto;
  margin-top: 20px;
  padding: 15px;
  text-decoration: none;
  font-size: 1.2rem;
}

.search-btn-back:hover {
  color: var(--primary);
  background-color: var(--tertiary);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
}

.hero {
  justify-content: center;
  align-content: center;

  background-color: var(--dark);
  color: var(--primary);
}

.hero p {
  max-width: 75%;
  align-items: center;
}

.app-title {
  font-size: 3rem;
  background-color: var(--primary);
  color: var(--dark);
  padding: 0 10px;
  display: inline;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light-dark);
}



/* CARDS */
.card {
  margin: 1px 0 20px 0;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  padding: 2px 5px;
}

.card-header {
  color: var(--primary);
  background-color: var(--dark);
  padding: 2.5%;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  padding: 2.5%;
}

/* FORM */
.form-label,
.form-input,
.form-textarea {
  display: flex;
  align-content: center;
}

.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
  padding: 0%;
  align-content: center;
}

.form-input {
  width: 24%;
  padding: 1%;
  margin: 5px 0;
  font-size: 3rem;
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius);
}

